h1,h2,h3,h4,p{font-family: Arial,sans-serif;}
body {
  color: #5a5a5a;
  font-family: Arial,sans-serif;
}
/*==========================header====================================*/
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-nav{float: right;margin-right: 37px;}
.navbar-nav>li>a{padding: 15px 40px;}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background:rgba(226, 219, 219, 0.38);
}
.left-img{margin-top: 62px;}
.certify{font-size: 45px;}
.lead{margin-top: 80px;font-size: 25px;}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
  margin-top: 62px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.newpage{margin-top: 90px;}

.nbs-flexisel-container{margin-bottom: 70px;}

footer{background:url(../images/pattern.png) 0 0 repeat-x;height: 64px;line-height: 64px;
  background-color: #31353a;
background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
background-image: -moz-linear-gradient(top, #31353a, #2f3337);
background-image: linear-gradient(top, #31353a, #2f3337);clear: both;
}
footer p{text-align: center;color: #ffffff;font-size: 14px;margin-bottom: 0;}
footer a {color: #ffffff;font-size: 14px;}
.social-media{;width: 133px;position: absolute;top: 0;right: 0;}
.icons{list-style: none;margin-bottom: 0;margin-top: 14px;}
.icons li{position: relative;overflow: hidden;float: left;margin-right: 5px;border-radius: 41px;}
.icons li.fb{background: url(../images/sprites.png) left bottom no-repeat;width: 40px;height: 41px;}
.icons li.linkedin{background: url(../images/sprites.png) left -131px no-repeat;width: 40px;height: 40px;}
.row {
margin: 0.5em 0;
float: left;
clear: both;
}

.row i {
width: 52px;
height: 2px;
}


/*-------------------------------------custom css -----------------------------------------------*/
.navbar-wrapper{background: rgba(226, 219, 219, 0.38);-webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;}
.navbar-inverse.header-bar{background: rgba(226, 219, 219, 0.38);height: auto;border-radius: 0;margin-bottom: 0;min-height: 0;border: 0;}
.navbar>.container .navbar-brand.logo .imglogo{float: left;}
.navbar>.container .navbar-brand.logo{display: block;padding: 10px 13px;height: auto;margin-left: 44px;}
.navbar>.container .navbar-brand.logo .logo-text{display: block;font-size: 47px;text-transform: uppercase;
  margin-top: 11px;float: left;color: #002060;font-family: Times,Arial,Sans-serif;font-weight: bold;}
.navbar>.container .navbar-brand.logo:hover{color:#9d9d9d; }
.carousel-caption.data-caption{width: 600px;top: 22%;right: 10%;left: 10%;text-align: left;}
.carousel-caption p.button-click{margin:30px 0 0 45px;}
.img{position: absolute;top: 28%;right: 13%;}
.img.two{top: 22%;}
.img.three{top: 5%;right: 7%;}
.img.four{top: 32%;right: 7%;}
.praises{
    background: #F7F7F7;
}
.praises .customers{
    background: inherit;
    padding: 10px 0 30px;
}
.praises li{
    display: inline-block;
    list-style: none;
    text-align: center;
}
/*.praises ul{
    padding: 0;
    margin: 50px auto 40px;
    width: auto;
}*/

.praises h2{
    margin: 30px 0 19px;
    font-weight: 700;
}
.praises-title{font-weight: 700;font-size: 27px;}
.latest-post{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 18px 0;
    margin-bottom: 30px;
}
.latest-post .slides p{
    margin: 0;
}
.latest-post a,.latest-post span{
    font-size: 18px;
    color: #fff;
}
.latest-post a:hover{
    text-decoration: none;
}
#latest-post-slider .flex-direction-nav{
    display: none;
}

.topnavbar ul.dark_menu li ul.inner-ul li ul.sub-menu{display: none;position: absolute;
right: 0;
width: 256px;
max-width: 400px;
left: 164px;
top: 32px;

}
.topnavbar ul.dark_menu li ul.inner-ul li.sec:hover ul.sub-menu{width: 334px;display: block;}
.topnavbar ul.dark_menu li ul.inner-ul li:hover > ul{display: block;}
 .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
ul.dark_menu {
    list-style: none;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;
}
 
/* Clears all floated List Items */
ul.dark_menu:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
 
ul.dark_menu li {
    float: left;
    margin: 0 0 0 21px;
    position: relative;
}

ul.dark_menu li:first-child {
    margin: 0;
}
ul.dark_menu li a, ul.dark_menu li a:link {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px 40px;
    font-size: 15px;
}
/* List Items Links Hover State Style */
ul.dark_menu li a:hover {color: #002060;}
a:hover{text-decoration: none;}
/* List Items Links Active and Selected State Style */
ul.dark_menu li a.selected, ul.dark_menu li a:active {color: #ffffff;}
/* Sub Menu Unordered List Second Level Style */
ul.dark_menu li ul {
    display: none;
}
/* Sub Menu Unordered List Second Level Style
    When Parent List Item is Hovered */
ul.dark_menu li:hover ul {
    position: absolute;
    display: block;
    z-index: 1000;
    left: 0;
    top: 44px;
    padding: 5px 0;
    list-style: none;
    background: #E4E4E4;
}
/* Before Second Level Unordered List Style */
ul.dark_menu li ul:before {
    content: " ";
    position: absolute;
    display: block;
    z-index: 1500;
    left: 0;
    top: -10px;
    height: 10px;
    width: 100%;
}


/* Second Level Menu List Items Style */
ul.dark_menu li ul li {
    float: none;
    margin: 0 10px;
    border-bottom: 1px solid #BEBBBB;
    
}
 
/* First List Item in Second Level Menu Style */
ul.dark_menu li ul li:first-child {
    margin: 0 10px;
    border-top: 0 none;
}
 
/* Last List Item in Second Level Menu Style */
ul.dark_menu li ul li:last-child {
    border-bottom: 0 none;
}
/* Second Level List Items Links Style */
ul.dark_menu li ul li a, ul.dark_menu li ul li a:link {
    color: #333333;
    display: block;
    background: transparent none;
    padding: 10px 20px 10px 5px;
    white-space: nowrap;
}
/* Second Level List Items Links Hover State Style */
ul.dark_menu li ul li a:hover {
    text-decoration: none;
}
.marginleft30{margin:12px 0 0 30px;}
.btn.cuspage{padding: 6px 22px;border-radius: 25px;}
.footer{margin-top: 54px;}
footer a:hover{text-decoration: underline;color: #ffffff;}

/***************************************SERVICS PAGE **********************************************************/
.main-title{font-size: 28px;font-family: Arial, sans-serif;margin-bottom: 5px;font-weight: bold;}
.block{padding: 31px 0;}
.block2{border-top: 1px solid #cccccc;padding-top: 31px;}

.desc p{font-size: 15px;font-family:Arial, sans-serif;line-height: 22px;}





#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:15px;
  line-height:32px;
  padding:15px 27px;
  font-family:Arial,sans-serif;
  text-transform: capitalize;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}


#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:62px;
  left:0;
  background:rgb(228, 222, 222);
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  -webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul.sub-menu
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;
}
.dark_menu li:hover > a{color: #286090 !important;}
#primary_nav_wrap ul li:hover > ul li:hover{background: #286090;}
#primary_nav_wrap ul.inner-ul li:hover > a{color: #ffffff !important;}



.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background:#ffffff;
   border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
    max-width:200px;
    max-height:75px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/button-previous.png) no-repeat;
    display: none;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/button-next.png) no-repeat;
    display: none;
}
.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}
.topnavbar{float: right;}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and (max-width: 1348px){
    .navbar>.container .navbar-brand.logo{margin-left: 0;padding-left: 0;}
   .container,.container.client-container{width: auto;} 
   #primary_nav_wrap ul a{padding: 15px 14px;}
}
@media screen and (max-width: 985px){
    .navbar-inverse .navbar-toggle .icon-bar{background-color: #000000;}
    .navbar-inverse .navbar-toggle:hover span,.navbar-inverse .navbar-toggle:focus{background-color: #ffffff;}
    #primary_nav_wrap ul.dark_menu{width: 100%;}
    #navbar{background: rgb(233, 233, 233);border-color: rgb(233, 233, 233);}
    .topnavbar{float: none !important;}
    #primary_nav_wrap ul li{width: 100%;float: none;border-bottom: 1px solid #cccccc;}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;margin-top: 14px;
    }
    .navbar-header {
        float:none;
    }
}
@media screen and (max-width: 470px){
  #primary_nav_wrap ul ul ul.sub-menu{display: none;}
  footer p{text-align: left;}
}
@media screen and (max-width: 360px){
  .navbar>.container .navbar-brand.logo .logo-text{font-size: 27px;}
}
